* {
    box-sizing: border-box;
}

header,
main {
    background-color: #1D2937;
}

header {
    display: flex;
}

header img {
    align-self: center;
}

ul {
    display: flex;
    margin-left: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}